/*Rojo: #bf1b27, Azul: #263d54 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: solid #263d54;
}

.ul_header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 4p;
}

.li_header {
    position: relative;
    float: left;
    list-style-type: none;
    margin-right: 1rem;
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

/* Diseños responsives */
@media (min-width: 720px) {
    body {
        width: 720px;
    }
}

@media (min-width: 1366px) {
    body {
        width: 1366px;
    }
}

@media (min-width: 1440px) {
    body {
        width: 1440px;
    }
}

@media (min-width: 1920px) {
    body {
        width: 1920px;
    }
}


